.singleSchoolInfo{
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
    float: left;
    min-width: 300px;
    border: 1px solid rgba(0,0,0,0.2);
}

.schoolID{
    color: rgba(0,0,0,0.5);
}

.SchoolName{
    color: #005CAF;
    font-size: x-large;
}